* {margin:0; padding:0; list-style:none;}
.wrap {width:100%; max-width:720px; margin:0 auto; padding-bottom:60px;}
.wrap header {display:flex; justify-content:center; align-items:center; height:60px; text-align:center;}
.wrap header h1 {color:#000; font-size:1.125em; line-height:1.5em;}
.wrap .header_guide {padding:1.25em 1em; background-color:#f2f2f2;}
.wrap .header_guide ul {}
.wrap .header_guide ul li {position:relative; padding-left:0.75em; color:#999; font-size:0.75em; line-height:1.33333em; word-break:keep-all;}
.wrap .header_guide ul li + li {margin-top:1em;}
.wrap .header_guide ul li::before {content:"*"; display:block; position:absolute; top:0; left:0; color:inherit; font-size:inherit; line-height:inherit;}
.wrap .form {padding:1.5em 1em 3.3125em;}
.wrap .form .box {}
.wrap .form .box + .box {margin-top:37px;}
.wrap .form .box .tit {}
.wrap .form .box .tit > strong {display:block; color:#000; font-size:1em; line-height:1.5em; font-weight:bold;}
.wrap .form .box div.ipt_wrap {display:flex; gap:10px; margin-top:6px; padding-bottom:6px; border-bottom:1px solid #ddd;}
.wrap .form .box div.ipt_wrap div.ipt_input {flex:1; position:relative;}
.wrap .form .box div.ipt_wrap div.ipt_input input {width:100%; height:28px; padding-right:50px; border:0 none; color:#000; font-size:14px;}
.wrap .form .box div.ipt_wrap div.ipt_input input::placeholder {color:#e3e3e3; font-size:12px;}
.wrap .form .box div.ipt_wrap div.ipt_input span.timer {position:absolute; top:50%; right:1em; color:#009ddf; font-size:0.75em; transform:translateY(-50%);}
.wrap .form .box div.ipt_wrap button {display:inline-flex; justify-content:center; align-items:center; width:54px; min-width:54px; max-width:54px; height:28px; background-color:#333; border-radius:2px; overflow:hidden; vertical-align:top;}
.wrap .form .box div.ipt_wrap button span {display:inline-block; color:#fff; font-size:12px; line-height:1em;}
.wrap .form .box div.ipt_wrap button:disabled {background-color:#999;}
.wrap .form .box p {color:#0055FF; font-size:12px;}
.wrap .form .box p.error {color:#ee3125;}
.wrap .form button.btn_next {height:60px; margin-top:45px; background-color: #ee3125; border-radius:2px;}
.wrap .form button.btn_next span {color:#fff; font-size:14px;}
.wrap .form button.btn_next:disabled {background-color:#999;}

footer {position:fixed; bottom:0; left:0; right:0; max-width:720px; margin:0 auto; padding:1.125em 1em; background-color:#f5f5f5;}
footer p {color:#999; font-size:0.625em; line-height:1.6em;}